@charset "utf-8";
/*货到付款-S*/
.global-center .sams-help-center .help-center-md h2{font-family:"microsoft yahei";font-size:18px;font-weight:bold;color:#004b8d}
.pay-after p{font-family:"simsun";color:#333;}
.pay-after .help{font-size:14px;}
/*货到付款-E*/